snippet .emset "Set ember property" i
.set("${1:name}", ${2:value})
endsnippet

snippet .emget "Get ember property" i
.get("${1:name}")
endsnippet

snippet .emcreate "Create ember subclass" i
.create(${1:\{
    ${2}
\}});
endsnippet

snippet .emextend "Extend ember subclass" i
.extend(${1:\{
    ${2}
\}});
endsnippet

snippet .log "Console log" b
console.log($0);
endsnippet
